<section class="SecondScreen">
  <div class="SecondScreen__container">
    <div class="tblock2">
      <h1>PDO-S operates locally, regionally and internationally</h1>
      <p>Petroleum Development Oman Services (PDO-S) L.L.C is a Limited
        Liability Subsidiary Company of PDO. It was established in 2021 to
        commercialise PDO’s strong technical capabilities, inherent capacity and
        competitive edge in niche areas such as EOR, Geo-solutions, innovative
        technologies and others.</p>
    </div>
    <div class="logo2">
      <figure>
        <img src="./assets/logo2.png" alt="logo2" />
      </figure>
    </div>
  </div>
</section>