<section class="FirstScreen">
  <div class="FirstScreen__container">
    {{>../Header/index}}
    <div class="tblock">
      <h1>About PDO-S</h1>
      <p>Petroleum Development Oman Services (PDO-S) L.L.C is a Limited
        Liability Subsidiary Company of PDO. It was established in 2021 to
        commercialise PDO’s strong technical capabilities, inherent capacity and
        competitive edge in niche areas such as EOR, Geo-solutions, innovative
        technologies and others.</p>
    </div>
  </div>
</section>