<header class="header">
  <div class="burger-menu">
    <figure>
      <img src="./assets/menu.png" alt="menu" />
    </figure>
  </div>
  <div class="navbar">
    <nav class="navbar__top">
      <ul>
        <li class="navbar__top-link"><a href="#">Careers</a></li>
        <li class="navbar__top-link"><a href="#">News & media</a></li>
        <li class="navbar__top-link"><a href="#">PDO-S</a></li>
        <li class="navbar__top-link"><a href="#">Knowledge World</a></li>
        <li class="navbar__top-link"><a href="#">Blow the Whistle</a></li>
        <li class="navbar__top-link"><a href="#">العربية</a></li>
        <li class="navbar__top-link"><img
            src="./assets/search.png"
            alt="search icon"
          /></li>
      </ul>
    </nav>
    <nav class="navbar__bottom">
      <ul>
        <li class="navbar__bottom-link"><a href="#">Who we are</a></li>
        <li class="navbar__bottom-link"><a href="#">Technical excellence</a></li>
        <li class="navbar__bottom-link"><a href="#">Sustainability</a></li>
        <li class="navbar__bottom-link"><a href="#">Creating value</a></li>
        <li class="navbar__bottom-link"><a href="#">Business with PDO</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__logo">
    <figure class="header__logo-logo">
      <img src="./assets/logo.png" alt="logo" />
    </figure>
    <figure class="header__logo-text">
      <img src="./assets/logo-text.png" alt="" width="200" />
    </figure>
  </div>
</header>