<footer class="Footer">
  <div class="Footer__container">
    <div class="Footer__container-top">
      <div class="cblock">
        <h3>Explore PDO</h3>
        <ul class="footer-links">
          <li class="cblock__link"><a href="#">Overview</a></li>
          <li class="cblock__link"><a href="#">HSE</a></li>
          <li class="cblock__link"><a href="#">Business with PDO</a></li>
          <li class="cblock__link"><a href="#">People</a></li>
          <li class="cblock__link"><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="cblock">
        <h3>Other websites</h3>
        <ul class="footer-links">
          <li class="cblock__link"><a href="#">PDOs</a></li>
          <li class="cblock__link"><a href="#">Knowledge world</a></li>
        </ul></div>
      <div class="cblock">
        <h3>Employee services</h3>
        <ul class="footer-links">
          <li class="cblock__link"><a href="#">PDO staff</a></li>
          <li class="cblock__link"><a href="#">Self-service password reset</a></li>
        </ul></div>
      <div class="cblock">
        <h3>Contact us</h3>
        <ul class="footer-links">
          <li class="cblock__link"><a href="#">Headquarters</a></li>
          <li class="cblock__link">Muscat, Siltanate of Oman</li>
          <li class="cblock__link"><a href="#">Telephone:</a></li>
          <li class="cblock__link"> + (00968) 24678111</li>
        </ul></div>
    </div>
    <div class="Footer__container-bottom">
      <div class="social-media-icons">
        <figure>
          <img src="./assets/social-media.png" alt="logo" />
        </figure>
      </div>
      <div class="footer__logo">
        <figure>
          <img src="./assets/logo-black.png" alt="logo" />
        </figure>
      </div>
    </div>
  </div>
</footer>