$red: red;
$section-width: 1360px;
$section-height: 880px;
// ==== fonts =====
$lexend: "Lexend", sans-serif;
$inter: "Inter", sans-serif;
//===== Btn =====
$btn-color: #019748;

// use variables of css
:root {
  --blue: blue;
}
