<html lang="uk">

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{htmlWebpackPlugin.options.title}}
    </title>
  </head>

  <body>
      {{>./components/FirstScreen/index}}
      {{>./components/SecondScreen/index}}
      {{>./components/Footer/index}}


      {{!-- <section id="main">main 1</section> --}}
  </body>

</html>